.panel, pre {
	border-style: solid;
	border-width: 1px;
	border-color: #f2f2f2;
	margin-bottom: 1.0rem;
	padding: 1.0rem;
	background: #f2f2f2;
	line-height: 1;	
	font-size: 0.95rem;
	overflow-x: auto;
}

pre {
	strong {
		color: $color2;
	}
}

code {
	border-color: #f2f2f2;
	background: #f2f2f2;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: $color2;
}

#advertisement {
	div {
		display:none;
	}
	@media (min-width: 750px) {
		div {
			display:block;
		}
	}
}