/* **** */
/* STxT */
/* **** */

span.STxT {
	font-family: "Russo One", Courier, monospace;
	font-size: 1.3em;
	color: $color1 !important;
	font-weight: normal;
}

header {
	span.STxT {
		font-size: 1em;
	}	
}

.top-bar {
	span.STxT {
		color: white !important;
	}
}

.text-center {
	text-align: center !important;
}
.float-left {
	float: left;
}
.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}
.hidden {
	display: none !important;
}