/* *********** */
/* main_header */
/* *********** */

#main_header {
	h1, h2 {
		color: black;
		padding: 0;
		margin: 0;
		font-family: "Courier New", Courier, monospace;
		text-align: left
	}
	h1 {
		font-size: 3.3rem;
		font-weight: normal;
	}
	
	h2 {
		font-size: 1.4rem;
		font-weight: normal;
		line-height: 0.8em
	}
	
	a {
		color: #444
	}
	
	ul {
		margin-top: 10px;
		list-style: none;
		padding-left: 0;
	}
	ul li {
		display: inline-block;
	}
	
	ul a {
		color: white;
		background-color: #13a4a4;
		padding: 5px;
		border-radius: 2px;
		text-decoration: none;
	}
}

