/* ******* */
/* tob_bar */
/* ******* */

div.top-bar {
	background-color: $color2
}

div.top-bar, div.top-bar ul li a {
	color: white;
}

div.top-bar ul li a.link_src {
    color: yellow;
    text-decoration: none;
}

