#if(${doc.getChild("navigation")})
	<div class="column row book_nav clearfix">
		#set($nav = ${doc.getChild("navigation")})

		#if($nav.getChild("previous"))
           	<a style="float:left;"	href="chapter_${nav.getChild("previous").tvalue}.html" title="${lang.get("nav.prev")}">&#x25C4; ${lang.get("nav.prev")}</a>
		#end
		#if($nav.getChild("next"))
           	<a style="float:right;" href="chapter_${nav.getChild("next").tvalue}.html" title="${lang.get("nav.next")}">${lang.get("nav.next")} &#x25BA;</a>
		#end
	</div>
#end						
