<!DOCTYPE html>
<html lang="${lang.get("lang")}">
#parse("/init.vm")

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${meta.getChild("title").tvalue}</title>
	<meta name="description" content="${meta.getChild("description").tvalue}">
	<meta name="author" content="${meta.getChild("author").tvalue}">
	<!--
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/app.css">
    -->
    <link rel="stylesheet" href="../css/site-20170328.css">
		
	#if(${lang.get("lang")} == "en")
	<link rel="alternate" hreflang="es" href="http://www.semantictext.info/es/${doc_name}.html" />
	#end
		
	#if(${lang.get("lang")} == "es")
	<link rel="alternate" hreflang="en" href="http://www.semantictext.info/en/${doc_name}.html" />
	#end
	
	<script src="../js/cookie.js"></script>
	<script>#parse("/page.js")</script>	
</head>

<body>

	<!-- *********** -->
	<!-- main_header -->
	<!-- *********** -->
	
    <div class="row collapse" id="main_header">
      <div class="small-12 columns">
	    <h1>
			<a href="index.html">
			#if(${doc.canonicalName} == "chapter")	STxT: ${lang.get("title_book")}
			#else                  					STxT: Semantic text
			#end
    	    </a>
		</h1>
		<h2><a href="index.html">${lang.get("title")}</a></h2>
      </div>
    </div>

	<!-- **** -->
	<!-- menu -->
	<!-- **** -->
	
    <div class="row collapse" id="menu-1">
      <div class="small-12 columns">
		<ul class="menu simple align-right">
			#if(${lang.get("lang")} == "en")
				<li><b>${lang.get("menu.lang.en")}</b></li>
				<li><a href="../es/${doc_name}.html" onclick="setLang('es'); return false;" title="${lang.get("menu.lang.es")}"><i>${lang.get("menu.lang.es")}</i></a></li>
			#end
			#if(${lang.get("lang")} == "es")
				<li><a href="../en/${doc_name}.html" onclick="setLang('en'); return false;"  title="${lang.get("menu.lang.es")}"><i>${lang.get("menu.lang.en")}</i></a></li>
				<li><b>${lang.get("menu.lang.es")}</b></li>
			#end
			<li><b> | </b></li>
			<li><a href="licence.html" title="${lang.get("menu.licence")}">${lang.get("menu.licence")}</a></li>
			<li><a href="contribute.html" title="${lang.get("menu.contrib")}">${lang.get("menu.contrib")}</a></li>
			<li><a href="donate.html" title="${lang.get("menu.donate")}">${lang.get("menu.donate")}</a></li>
			<li><a href="about.html" title="${lang.get("menu.about")}">${lang.get("menu.about")}</a></li>
    	</ul>
      </div>
    </div>

	<!-- ******* -->
	<!-- top bar -->
	<!-- ******* -->
	
    <div class="row collapse top-bar">
      <div class="small-12 columns">
			<div class="top-bar-left">
		    	<ul class="menu">
					<li><a href="index.html" title="${lang.get("menu.hello")}">${lang.get("menu.hello")}</a></li>
					<li><a href="chapter_00_c.html" title="${lang.get("menu.book")}">${lang.get("menu.book")}</a></li>
					<li><a href="chapter_03.html" title="${lang.get("menu.tutorial")}">${lang.get("menu.tutorial")}</a></li>
					<li><a href="chapter_09.html" title="${lang.get("menu.xml")}">${lang.get("menu.xml")}</a></li>
					<li><a href="swb.html" title="${lang.get("menu.swb")}">${lang.get("menu.swb")}</a></li>
					<li><a href="stxt.html" title="${lang.get("menu.stxt")}">${lang.get("menu.stxt")}</a></li>
		    	</ul>
		    </div>
			<div class="top-bar-right">
		    	<ul class="menu">
					<li><a class="link_src" href="${doc_name}.stxt" target="${doc_name}" title="Source STxT">&#x25BC;&#x25BC;&#x25BC;</a></li>
				</ul>
			</div>    	
    	</div>
    </div>
	
	<!-- ******* -->
	<!-- Content -->
	<!-- ******* -->
	
    <div class="row" id="main_content">
      <div class="small-12 medium-8 columns">
		#parse("/navigation.vm")
	
		#if(${doc.canonicalName} == "chapter")
			#if(${doc.getChild("title")})
				<h1>${doc.getChild("title").tvalue}</h1>
			#end
		#end
	
		#set($numPart = 0)
	
		#foreach($node in $doc.getChilds())
			#if(${node.canonicalName} == "html")
				${node.tvalue}
			#elseif(${node.canonicalName} == "content" || ${node.canonicalName} == "text")
				${wiki.render($node.tvalue)}
			#elseif(${node.canonicalName} == "preamble")
            	<div class="preamble">${wiki.render($node.tvalue)}</div>
			#elseif(${node.canonicalName} == "header")
            	<h2><a id="index_${numPart}"></a>$node.tvalue</h2>
				#set($numPart = $numPart + 1)
			#elseif(${node.canonicalName} == "subheader")
            	<h3><a id="index_${numPart}"></a>$node.tvalue</h3>
				#set($numPart = $numPart + 1)
			#elseif(${node.canonicalName} == "code")
				<pre>${utils.escapeHtml($node.tvalue)}</pre>
			#elseif(${node.canonicalName} == "assert")
				<div class="row">
            		<div class="assert small-11 large-8 small-centered columns">${wiki.render($node.tvalue)}</div>
            	</div>
			#elseif(${node.canonicalName} == "alert")
				<div class="row">
            		<div class="alert small-11 large-8 small-centered columns">${wiki.render($node.tvalue)}</div>
            	</div>
			#end
		#end
	
		#if($doc.getChilds("text").size()>0)
			#parse("/navigation.vm")
		#end
	  </div>
	  	
      <div class="small-12 medium-4 columns">
		<aside id="advertisement">
			<h2>${lang.get("lat.sponsors.title")}</h2>
        	<p>${lang.get("lat.sponsors.1")}<p>
        	<p>${lang.get("lat.sponsors.2")}</p>
        	<p>${lang.get("lat.sponsors.3")}</p>
        	<h3>${lang.get("lat.ads.title")}</h3>
        	<p>${lang.get("lat.ads.1")}</p>
        	<p>${lang.get("lat.ads.2")}</p>
			#if(!(${doc.getChild("navigation")} && $doc.getChilds("text").size()==0))
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- STxT - Adaptable -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0611338592562725"
                 data-ad-slot="5037052041"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
			<p>&nbsp;</p>
			#end
		</aside>
	  </div>
	</div>
	
    <div class="row">
      <div class="small-12 columns">
		<footer>${lang.get("foot.1")}</footer>
	  </div>
	</div>
</body>
</html>
