<!DOCTYPE html>
#parse("/init.vm")
<html lang="${lang.get("lang")}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${doc.getText()}</title>
	<meta name="description" content="${meta.getChild("description").text}">
	<meta name="author" content="${meta.getChild("author").value}">

    <link rel="stylesheet" href="/css/site.css?v=20241201">
		
	#if(${lang.get("lang")} == "en")
	<link rel="alternate" hreflang="es" href="http://semantictext.info/es/${doc_name}.html" />
	#end
		
	#if(${lang.get("lang")} == "es")
	<link rel="alternate" hreflang="en" href="http://semantictext.info/en/${doc_name}.html" />
	#end
	
	<script src="/js/cookie.js?v=1"></script>
	<script src="/js/page.js?v=1"></script>
	
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-ER3KFR2ERF"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-ER3KFR2ERF');
	</script>	
</head>

<body>

	<!-- *********** -->
	<!-- main_header -->
	<!-- *********** -->
	
    <header id="main_header">
	    <h1>
			<a href="index.html">
			#if(${doc.getChild("default")})	STxT: ${lang.get("title_book")}
			#else                  			STxT: Semantic TexT
			#end
    	    </a>
		</h1>
		<h2><a href="index.html">${lang.get("title")}</a></h2>
		<ul>
			<li><a href="about.html" title="${lang.get("menu.about")}" rel="nofollow">${lang.get("menu.about")}</a></li>
			<li><a href="donate.html" title="${lang.get("menu.donate")}" rel="nofollow">${lang.get("menu.donate")}</a></li>
			<li><a href="contribute.html" title="${lang.get("menu.contrib")}" rel="nofollow">${lang.get("menu.contrib")}</a></li>
			<li><a href="licence.html" title="${lang.get("menu.licence")}" rel="nofollow">${lang.get("menu.licence")}</a></li>
			<li><b> | </b></li>
			#if(${lang.get("lang")} == "es")
				<li><b>${lang.get("menu.lang.es")}</b></li>
				<li><a href="../en/${doc_name}.html" onclick="setLang('en'); return false;"  title="${lang.get("menu.lang.es")}"><i>${lang.get("menu.lang.en")}</i></a></li>
			#end
			#if(${lang.get("lang")} == "en")
				<li><a href="../es/${doc_name}.html" onclick="setLang('es'); return false;" title="${lang.get("menu.lang.es")}"><i>${lang.get("menu.lang.es")}</i></a></li>
				<li><b>${lang.get("menu.lang.en")}</b></li>
			#end
    	</ul>
    </header>

	<!-- ******* -->
	<!-- top bar -->
	<!-- ******* -->
	
    <div class="top-bar">
    	<ul>
			<li class="link_src"><a href="${doc_name}.stxt" target="${doc_name}" title="Source STxT">&#x25BC;&#x25BC;&#x25BC;</a></li>
			<li><a href="index" title="${lang.get("menu.hello")}">${lang.get("menu.hello")}</a></li>
			<li><a href="00-prologo" title="${lang.get("menu.book")}">${lang.get("menu.book")}</a></li>
			<li><a href="02-tutorial" title="${lang.get("menu.tutorial")}">${lang.get("menu.tutorial")}</a></li>
			<li><a href="08-stxt-vs" title="${lang.get("menu.vs")}">${lang.get("menu.vs")}</a></li>
			<li><a href="global-campus" title="${lang.get("menu.global_campus")}">${lang.get("menu.global_campus")}</a></li>
			<li><a href="stxt" title="${lang.get("menu.stxt")}">${lang.get("menu.stxt")}</a></li>
    	</ul>
    </div>
	
	<!-- ******* -->
	<!-- Content -->
	<!-- ******* -->
	
    <div id="main_content" class="clearfix">
      <article>
      	##parse("/ads.vm")
		#parse("/navigation.vm")
	
		#if(${doc.name} == "chapter")
			#if(${doc.getChild("title")})
				<h1>${doc.getChild("title").text}</h1>
			#end
		#end
	
		#set($numPart = 0)
	
		#foreach($node in $doc.getChilds())
			#parse("/node.vm")
		#end
	
		##parse("/navigation.vm")
	  </article>
	  	
	  <aside id="advertisement">
		##<h2>${lang.get("lat.sponsors.title")}</h2>
    	##<p>${lang.get("lat.sponsors.1")}<p>
    	##<p>${lang.get("lat.sponsors.2")}</p>
    	##<p>${lang.get("lat.sponsors.3")}</p>
    	##<br>
    	#if($index)
    		<div class="d-none d-md-block" style="margin-bottom:3rem;">
			#foreach($node in $index.getChilds())
				#parse("/node.vm")
			#end
			</div>
    	#end
    	#parse("/ads.vm")
	  </aside>
	</div>
	
	<footer>${lang.get("foot.1")}</footer>
	
	<div id="cookies_adv">
		${lang.get("cookies_1")}
        <a href="javascript:accept();" class="button">${lang.get("cookies_2")}</a>
        <a href="cookies.html">${lang.get("cookies_3")}</a>
    </div>
    <script>checkCookies();</script>
</body>
</html>
