
#container {
	background-color: #fff;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3)
}

footer {
	margin-top: 2em;
	margin-bottom: 2em
}

#advertisement {
	padding-top: 1em
}


h1 {
	text-align: right
}

h3 {
	font-weight: normal
}

ul li a.link_src {
	color: yellow;
	text-decoration: none
}

.book_nav li a {
	color: #dd7737
}

.book_nav li {
	padding: 0.8em;
	padding-left: 0
}

.book_nav ul {
	list-style-type: none
}


#sec_menu a {
	color: #0063a6
}

