#cookies_adv {
	padding: 2rem;
	background-color: #3937a3;
	text-align: center;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 99999;
	width: 100%
}

#cookies_adv a.button {
	padding: 1rem;
	margin: 0 20px;
	background: #ff4b9c;
	border: none;
	color: white;
	border-radius: 0.7rem;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.2rem
}

#cookies_adv a {
	color: white;
	text-decoration: underline
}

span.STxT {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.3em
}
