<div id="main_content" class="clearfix">
  <article>
	#parse("/navigation.vm")

	#set($numPart = 0)

	#foreach($node in $doc.getChilds())
		#parse("/node.vm")
	#end

	#parse("/navigation.vm")
  </article>
  
  <aside id="index_content">
	#if($index)
		<div class="d-none d-md-block">
		#foreach($node in $index.getChilds())
			#parse("/node.vm")
		#end
		</div>
	#end
  </aside>
</div>
