<!DOCTYPE html>
#parse("/init.vm")
<html lang="${lang.get("lang")}">
	<head>#parse("/head.vm")</head>
	
	<body>
		#parse("/main_header.vm")
		#parse("/top_bar.vm")
		#parse("/main_content.vm")		
		
		<footer>${lang.get("foot.1")}</footer>
	</body>
</html>
