<div class="top-bar">
	<ul>
		<li><a href="$indexPage" title="${lang.get("menu.hello")}">${lang.get("menu.hello")}</a></li>
		<li><a href="tutorial" title="${lang.get("menu.tutorial")}">${lang.get("menu.tutorial")}</a></li>
		<li><a href="examples" title="${lang.get("menu.examples")}">${lang.get("menu.examples")}</a></li>
		<li><a href="parsers" title="Parsers">Parsers</a></li>
		<li class="link_src"><a href="${doc_name}.stxt" target="${doc_name}" title="File ${doc_name}.stxt">STXT</a></li>
	</ul>
</div>
	
